@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none
}

html {
  @apply bg-black text-white scroll-smooth overflow-x-hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes astroFloat {
  0%, 100% {
      transform: translateY(0);
      rotate: -12deg;
  }
  50% {
      transform: translateY(-20px);
  }
}

@keyframes satFloat {
  0%, 100% {
      transform: translateY(0);
      rotate: 20deg;
  }
  50% {
      transform: translateY(-100px);
  }
}

#astro {
  animation: astroFloat 7s ease-in-out infinite; 
}

#sat {
  animation: satFloat 20s ease-in-out infinite;
}